/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Box Sizing*/
*{
    box-sizing:border-box;
}
/*------------------------------
    COLOURS
    Blue       #6a97ae rgba(106,151,174,1)
    Green      #b1da7c rgba(177,218,124,1)
    Red        #a36464 rgba(163,100,100,1);
    Cream      #ece3d4 rgba(236,227,212,1);

------------------------------*/

body {
    background-color: grey;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    color: white;
    min-width: 320px;
}

/*font icons*/
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-twitter, .icon-facebook, .icon-vimeo, .icon-linkedin, .icon-pinterest, .icon-instagram {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 0.5em;
    padding:1px 0 0 1px;
}

.icon-twitter:before    { content: "\e000"; }
.icon-facebook:before   { content: "\e001"; }
.icon-vimeo:before      { content: "\e002"; }
.icon-linkedin:before   { content: "\e003"; }
.icon-pinterest:before  { content: "\e004"; }
.icon-instagram:before  { content: "\e005"; }

/*------------------------------
    MAIN NAV
------------------------------*/

/*Image replacement*/
h1.headerlogo {
    margin-left:0.7em;
    width:150px;
    height:30px;
    text-indent: -9999px;
    overflow: hidden;
    background:
        url(../img/logo.svg)
        no-repeat
        left top
        transparent;
    background-size:contain;
}

/* Nav styling */
header {
    border:0 solid black;
    background-color: rgba(255,255,255,0.1);
    color:white;
    padding: 0;
    position:fixed;
    width:100%;
    -webkit-transition: all 250ms cubic-bezier(0.510, 0.005, 0.000, 0.990); 
       -moz-transition: all 250ms cubic-bezier(0.510, 0.005, 0.000, 0.990); 
        -ms-transition: all 250ms cubic-bezier(0.510, 0.005, 0.000, 0.990); 
         -o-transition: all 250ms cubic-bezier(0.510, 0.005, 0.000, 0.990); 
            transition: all 250ms cubic-bezier(0.510, 0.005, 0.000, 0.990); /* custom */
    z-index: 3;
}

header:hover {
    background-color: rgba(0,0,0,0.3);
    /*padding: 1.5em 0;*/
}

header h1 {
    float:left;
}

header nav.main {
    font-size: 1.4em;
    font-weight: 900;
    float: right;
}

header nav.main ul {
    list-style: none;
    margin: 0 1em 0;
}

header nav.main ul li {
    float:left;
}

/*Nav A styling*/
header nav.main a {
    font-size: 1.0em;
    display: block;
    text-decoration: none;
    background-color: transparent;
    padding: 18px;
    color: rgba(255,255,255,0.3);
    -webkit-transition: all 0.05s linear;
    -moz-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    -ms-transition: all 0.05s linear;
    transition: all 0.05s linear;
}

header nav.main a:hover {
    color: white;
}

header nav.main a:active {
    color: white;
}

/* Add activepage styling*/

header nav.main a.active {
    color:white;
}

/*------------------------------
    SECTION 04 - Footer
------------------------------*/

footer {
    padding: 0;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    color: #6a97ae;
}

footer #twitter{
    float: left;
    margin: 0;
    padding: 2.1em;
    width: 40%;
    text-overflow: ellipsis;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
}

footer nav.social {
    width: 55%;
    float: right;
}

footer nav.social ul {
    float: right;
    padding: 0;
    margin: 0;
}

footer nav.social ul li {
    float: left;
    padding: 0;
    margin: 0;
}

footer nav.social ul li a {
    display: block;
    color:#6a97ae;
    text-decoration: none;
    background-color: transparent;
    padding: 1.1em 1.4em;
}

footer nav.social ul li a:hover {
    color:white;
    background-color: #6a97ae;
}


/*------------------------------------------------------------
--------------------------------------------------------------

    HOMEPAGE

--------------------------------------------------------------
------------------------------------------------------------*/

/*------------------------------
    SECTIONS
------------------------------*/

/* Center all content */
section {
    width:940px;
    margin:0 auto;
}

.section01, .section02, .section03, .section04 { min-height:30em; }

.section01 { background: url(../img/bg_blue.jpg) repeat left top transparent; }
.section02 { background: url(../img/bg_green.jpg) repeat left top transparent; }
.section03 { background: url(../img/bg_red.jpg) repeat left top transparent; }
.section04 { background: url(../img/bg_cream.jpg) repeat left top transparent; }

p {
    color: white;
    font-size: 1.4em;
}

h2 {
    margin: 0 0 1em;
    font-size:5em;
    text-align: center;
}

h3 {
    font-size: 4em;
    margin-bottom:0.5em;
}

h4 {
    font-size:3em;
    margin: 1em 0 0.8em 0;
}

/*------------------------------
    Button Styles
------------------------------*/

a {
    font-size: 2em;
    color: white;
    z-index: 2;
    display:inline-block;
    text-decoration:none;
    color:white;
    font-weight:bold;
    text-align: center;
}

a span {
    display:block;
    padding:1em 2em;
    position:relative;
    top:-10px;  
}

a:hover span {
    top:-15px;
    -webkit-transition: all 200ms cubic-bezier(0.290, 0.015, 0.000, 1); /* older webkit */
-webkit-transition: all 200ms cubic-bezier(0.290, 0.015, 0.000, 1.630); 
   -moz-transition: all 200ms cubic-bezier(0.290, 0.015, 0.000, 1.630); 
    -ms-transition: all 200ms cubic-bezier(0.290, 0.015, 0.000, 1.630); 
     -o-transition: all 200ms cubic-bezier(0.290, 0.015, 0.000, 1.630); 
        transition: all 200ms cubic-bezier(0.290, 0.015, 0.000, 1.630); /* custom */
}

a:active span {
    top:0;
}

a.red:active {
    top:2px;
}

/* button colours as classes */

a.red               { background-color:#410b07; }
a.red span          { background-color:#6e3c3c; }
a.red:hover span    { background-color:#7c4646; }
a.red:active        { background-color:#4e2c2c; }

a.green             { background-color:#4b816b; }
a.green span        { background-color:#67a794; }
a.green:hover span  { background-color:#7abba7; }
a.green:active span { background-color:#3c6956; }

/*------------------------------
    SECTION 01 - Feature
------------------------------*/

.section01 {
    border-bottom:10px solid #537893;
    padding: 10em 0 15em;
}

.section01 img {
    opacity: 1;
    width:100%;
}

/* Nav styling */
footer {
    background-color: white;
    padding: 0;
    margin: 0;
}

/*------------------------------
    SECTION 02 - Description
------------------------------*/

.section02 {
    padding: 25em 0;
    border-bottom:10px solid #749150;
}

.section02 section img {
    width: 100%;
    margin-left: 0;
    margin-bottom: 1em;
}

.section02 article {
    width:80%;
    margin: 0 auto;
    text-align: center;
}

.section02 p.blurb {
    color:#eefbdc;
    font-size: 2em;
}


/*------------------------------
    SECTION 03 - Skills
------------------------------*/

.clickout {
    padding-top: 5em;
    text-align: center;
}

.section03 {
    padding: 15em 0;
    margin: 0;
    border-bottom: 10px solid #78423e;
}

.section03 p {
    font-size: 1.4em;
    padding: 0 1.2em;
    color: #f4c9c6;
}

article.skill {
    padding: 0;
    width: 32%;
    float: left;
    text-align: center;
    margin-right: 1%;
}

article #circleImage {
    position:relative;
    background-color: transparent;
    width: 29em;
    height: 29em;
    border-radius: 100%;
    margin: 0 auto 2em;
    overflow: hidden;
    box-shadow: 0 5px 0 #78423e;
    border: 10px solid white;
}



/*------------------------------
    SECTION 04 - Benefits
------------------------------*/

.section04 {
    padding: 10em 0;
}

section.benefitsSection {
    position: relative;
    width: 940px;
    min-height: 65em;
    margin-top:10em;
}

section .insideCircle1 {
    position: absolute;
    width:700px;
    height:700px;
    border-radius: 100%;
    background-color: transparent;
    border: 3px solid white;
    z-index: 1;
    margin:1em auto 0;
}

section .insideCircle1:before {
    content:"";
    width:90%;
    height:90%;
    border-radius: 100%;
    border: 3px dotted white;
    margin:2.5% auto;
    display: block;
    padding: 15px;
}

section.benefitsSection img {
    width: 45%;
    margin: 0 auto;
    top: 40%;
    left: 28%;
    position: absolute;
}

aside.benefit {
    background: url(../img/bg_lightblue.jpg) repeat left top transparent;
    background-color: #a5c7d5;
    position:absolute;
    /*width: 30em;
    height: 30em;*/
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 5px 0 #507991;
    z-index: 2;
    border: 0px;
}

aside h4 {
    font-size: 2em;
    padding:4.5em 0em 0em;
    margin:0em;
}

aside p {
    font-size: 1.4em;
    color: #48666b;
    padding: 0 2.3em;
    margin: 0.5em 0;
}

aside.benefit1 { left:0px; }
aside.benefit2 { right:0px; }
aside.benefit3 { bottom: 0px; left: 0px;}
aside.benefit4 { bottom:0px; right:0px;}

/*------------------------------------------------------------
--------------------------------------------------------------

    PAGE STYLES

--------------------------------------------------------------
------------------------------------------------------------*/


.page {padding: 10em 0 5em}
.bgBlue { background: url(../img/bg_blue.jpg) repeat left top transparent; }
.bgRed { background: url(../img/bg_red.jpg) repeat left top transparent; }

/*------------------------------------------------------------
--------------------------------------------------------------

    RESUME PAGE

--------------------------------------------------------------
------------------------------------------------------------*/

.resumePage {
    width: 940px;
    margin: 0 auto;
}

.resumePage p {
     color:#f4c9c6;
}

article.intro {
    background-color: white;
    margin: 0 0 4em;
    color: black;
    padding: 2em;
    border-bottom: 10px solid #78423e;
}

article.intro p.intro {
    color: black;
    margin: 0;
    padding: 1em;
    font-size: 2.8em;
}

.resumePage section {
    margin:3em 0;
}

article.school {
    padding: 0;
    width: 32%;
    float: left;
    text-align: center;
    margin-right: 1%;
}

article.school img {
    margin: 2em auto;
}

.expSection, .schoolSection, .skillSection {
    width: 100%;
}

.expSection .jobItem {
    display: block;
    margin-bottom:2em;
}

.expSection .jobItem img {
    width: 350px;
    border: 10px solid white;
    float:left;
    margin-right:20px;
}

.expSection .jobItem h5 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    display: inline-block;
}

.expSection .jobItem h5.company {
    float:left;

}

.expSection .jobItem h5.position {
    float:right;
    font-weight: 400;
}

.expSection .jobItem p {
    padding-top: 3em;
}


/*------------------------------------------------------------
--------------------------------------------------------------

    CONTACT PAGE

--------------------------------------------------------------
------------------------------------------------------------*/

.contactPage {
    width:700px;
    margin:0 auto;
}

.contactPage p {
    font-size: 2em;
    margin-bottom: 2em;
    padding: 0;
}

.contactPage a {
    width:100%;
    margin-top: 1em;
}

form {
    background: white;
    border-bottom: 5px solid #e7e7e7;
    padding: 3em;
}

form.contactForm label, form.contactForm p{
    font-size: 1.5em;
    font-weight: 400;
    color: #6698ab;
}

form.contactForm label {
    display: block;
    margin-bottom: 1em;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding:10px;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    background: #f2f2f2;
    border:0;
    border-top:5px solid #e7e7e7;
}

textarea {
    height: 25em;
    resize:;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width : 340px), only screen and (max-width : 640px) {

}*/

/*------------------------------
    MAIN NAV RESPONSIVE CODE
------------------------------*/

@media only screen and (max-width : 640px) {
     /*header nav.main {
        float: left;
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    header nav.main ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    header nav.main ul li {
        float:left;
        width: 100%;
        font-size: 1.4em;
        margin:0 1em;
    }*/   

}

/*Mobile*/

@media only screen and (min-width : 320px) and (max-width : 480px) {
    /*------------------------------
        Mobile Nav
    ------------------------------*/

    header nav.main {
        float: left;
        width: 100%;
    }

    #mainNav {
        float: left;
        width: 100%;
        height: 57px;
        overflow: hidden;
        background-color: black;
    }

    #mainNav:target {
        height: 253px;
    }

    header nav.main ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    header nav.main ul li {
        float:left;
        width: 100%;
        font-size: 1.4em;
        margin:0;
        text-align: left;
        border-top: 1px solid white;
    }

    header nav.main ul li:last-child{
        border-bottom: 1px solid white;
    }

    header nav.main ul li a {
        text-align: left;
    }




    .navButton {
        float:right;
    }

    /*End Mobile Nav */


    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2.5em;
    }

    section {
        width:95%;
        margin:0 auto;
    }

    .section01, .section02, .section03, .section04 { padding:10em 0; }

    /*------------------------------
        SECTION 03 - Skills
    ------------------------------*/

    article.skill {
        width: 100%;
        padding-bottom: 3em;
    }

    article #circleImage {
        width: 27em;
        height: 27em;
    }

    /*------------------------------
        SECTION 04 - Benefits
    ------------------------------*/

    section.benefitsSection {
        width: 80%;
        margin-top: 2em;
    }

    section.benefitsSection img {
        width: 100%;
        margin: 0 auto 3em;
        top: 0;
        left: 0;
        position: relative;
    }

    aside h4 {
        padding: 0;
    }


    aside.benefit {
        position:relative;
        padding:1em;
        margin:0 auto 3em;
        width: 100%%;
        border-radius: 3em;
        text-align: center;
        box-shadow: 0 5px 0 #507991;
        z-index: 2;
        border:0px;
    }

    /*------------------------------
        RESUMÉ
    ------------------------------*/

    .resumePage {
        width:95%;
    }

    .resumePage h4 {
        text-align: center;
    }

    article.intro {
        padding: 1em;
    }

    article.intro p.intro {
        padding: 1em;
        font-size: 2em;
    }

    article.school {
       width: 100%
    }

    article.school img {
        margin: 2em auto;
    }

    .expSection .jobItem img {
        width:100%;
    }

    .expSection .jobText {
        display: none;
    }

    .expSection .jobItem h5 {
        float: left;
    }

    .expSection .jobItem h5.position {
        float: left;
    }

    /*------------------------------
        CONTACT
    ------------------------------*/
    .contactPage {
        width:95%;
    }
}

/* Tablet and Mobile*/
@media only screen and (min-width: 481px) and (max-width : 959px) {

    /*------------------------------
        Main Nav
    ------------------------------*/

    .navButton {
        display: none;
    }

    /*------------------------------
        End Main Nav
    ------------------------------*/

    section {
        width:80%;
        margin:0 auto;
    }

    h2 {
        margin: 0 1em 1em;
        font-size:3.5em;
        text-align: center;
    }

    h3 {
        font-size: 3.5em;
    }

    /*------------------------------
        SECTION 03 - Skills
    ------------------------------*/

    article.skill {
        width: 100%;
        padding-bottom: 3em;
    }

    article #circleImage {
        width: 27em;
        height: 27em;
    }

    /*------------------------------
        SECTION 04 - Benefits
    ------------------------------*/

    section.benefitsSection {
        width: 80%;
        margin-top: 2em;
    }

    section.benefitsSection img {
        width: 100%;
        margin: 0 auto 3em;
        top: 0;
        left: 0;
        position: relative;
    }

    aside h4 {
        padding: 0;
    }

 
    aside.benefit {
        position:relative;
        padding:1em;
        margin:0 auto 3em;
        width: 100%%;
        border-radius: 3em;
        text-align: center;
        box-shadow: 0 5px 0 #507991;
        z-index: 2;
        border: 0px;
    }

    /*------------------------------
        FOOTER
    ------------------------------*/

    footer {
        font-size: 12px;
    }

    footer #twitter{
        width: 100%;
    }

    footer #twitter p{
        margin: 0 auto;
        display: inline;
        white-space: ellipsis;
        overflow: hidden;

    }

    footer nav.social {
        width: 100%;
        float: left;
    }

    footer nav.social ul {
        float: left;
    }

    footer nav.social ul li{
        float: left;
    }

    footer nav.social ul li a {
        font-size: 1.2em;
        padding: 1.8em 1.4em;
    }

    /*------------------------------
        RESUMÉ
    ------------------------------*/

    .resumePage {
        width:95%;
    }

    .resumePage h4 {
        text-align: center;
        padding:0;
    }

    article.school {
       width: 33.3%;
       margin: 0%
    }

    article.school img {
        margin: 2em auto;
        width: 80%;
    }

    article.school p {
        display:none;
    }

    .skillSection .skill {
        width: 32%
    }

    .skillSection .skill p {
        display: none;
    }

    .expSection .jobItem img {
        float:left;
    }

    .expSection .jobItem img {
        float:left;
    }

    .expSection .jobText {
        width:100%;
    }

    .expSection .image {
        width: 100%;
        text-align: center;
    }

    .expSection .jobItem h5 {
        font-size: 1.8em;
    }

    .expSection .jobItem h5.company {
        float: none;
        display: block;
    }

    .expSection .jobItem h5.position {
        float: none;
    }

    .expSection .jobItem p {
        padding: 0;
    }





    /*------------------------------
        CONTACT
    ------------------------------*/

    .contactPage {
        width:95%;
    }

    form {
        background: white;
        border-bottom: 5px solid #e7e7e7;
        padding: 2em;
        padding-bottom:4em;
    }


}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 960px) and (max-width : 1440px)  {
    /*------------------------------
        Main Nav
    ------------------------------*/

    .navButton {
        display: none;
    }

    /*------------------------------
        End Main Nav
    ------------------------------*/

    /*------------------------------
        FOOTER
    ------------------------------*/
    .footer-twitter:after    { display: none; }
    .footer-facebook:after   { display: none; }
    .footer-vimeo:after      { display: none; }
    .footer-linkedin:after   { display: none; }
    .footer-pinterest:after  { display: none; }
    .footer-instagram:after  { display: none; }

    aside.benefit {
        width: 30em;
        height: 30em;
    }

    /*------------------------------
        Resume
    ------------------------------*/


}

/* Large Desktops and laptops ----------- */
@media only screen and (min-width : 1441px) {
    /*------------------------------
        Main Nav
    ------------------------------*/

    .navButton {
        display: none;
    }

    /*------------------------------
        End Main Nav
    ------------------------------*/

    body {
        font-size: 12px;
    }
    /*Make section widths bigger*/
    section {
        width:80%;
        margin:0 auto;
    }

    section.benefitsSection {
        width: 80%;
        height: 65em;
    }

    section .insideCircle1 {
        width:700px;
        height:700px;
        z-index: 1;
        margin:-4em auto 0;
        top:4em;
    }

    /*------------------------------
        SECTION 03 - Skills
    ------------------------------*/

    aside.benefit {
        width: 30em;
        height: 30em;
    }

    /*------------------------------
        Resume
    ------------------------------*/

    .resumePage {
        width:80%;
    }


    /*------------------------------
        Footer
    ------------------------------*/

    footer nav.social ul li a {
        font-size: 14px;
        padding: 1.8em 1.4em;
    }

    /*------------------------------
        CONTACT
    ------------------------------*/
    .contactPage {
        width:900px;
    }
}

    /*------------------------------
        FOOTER
    ------------------------------*/
    .footer-twitter:after    { content: ""; }
    .footer-facebook:after   { content: "Facebook"; }
    .footer-vimeo:after      { content: "Vimeo"; }
    .footer-linkedin:after   { content: "LinkedIn"; }
    .footer-pinterest:after  { content: "Pinterest"; }
    .footer-instagram:after  { content: "Instagram"; }


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
